<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Open hack 2018 - Purple</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
  </head>
  <body>
    <div id="app">
    <!--
      <div v-for="tutorial in tutorials">
        <img :src="tutorial.fields.bakgrundsbild" alt=""><br>
        <img :src="tutorial.fields.logga" alt=""><br>
        Title: {{tutorial.title}}<br>
        Text: {{tutorial.fields.text}}
      </div>
    -->
    <template v-if="!language && !category && !tutorial">
    	<!--TODO: Show language page-->
	<div class="lang-list" v-for="language in languages">
		<div class="lang-select">
			{{language.name}}
			<img :src="language.flag">
		</div>
	</div>
    </template>
    
    <template v-if="language && !category && !tutorial">
    	<!--TODO: Show category page-->
    </template>
    
    <template v-if="language && category && !tutorial">
    	<!--TODO: Show tutorial selection page for category-->
    </template>
    
    <template v-if="language && category && tutorial">
    	<!--TODO: Show tutorial by step-->
    </template>
    </div>

    <script>
      Vue.http.options.root = '/root';
      Vue.http.headers.common['Authorization'] = 'YXBpOnBhc3N3b3Jk';

      const app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Purple',
	  languages: [],
          tutorials: [],

          language: null,
          category: null,
          tutorial: null
        },
        http: {
          root: '/root',
          headers: {
            Authorization: 'YXBpOnBhc3N3b3Jk'
          }
        },
        mounted() {
          this.$http.get('http://weird.se/wp-json/wp/v2/tutorials').then(({body}) => {
            const tutorials = body.map((post) => {
              return {
                id: post.id,
                title: post.title.rendered,
                fields: post.acf
              }
            });

            console.log(tutorials);

            this.tutorials = tutorials;
          }, response => {
            console.log('ERROR!');
          });
          
	  this.$http.get('http://weird.se/wp-json/wp/v2/languages').then(({body}) => {
            const languages = body.map((post) => {
              return {
                name: post.title.rendered,
                flag: post.acf.flagga
              }
            });

            console.log(languages);

            this.languages = languages;
          }, response => {
            console.log('ERROR!');
          });
        }
      });
    </script>
  </body>
</html>
